*{
    background-color:#1A1A1C;
    color: white;
    margin: 10px;
}
.topContainer{
    display: flex;
}
input{
    color: #8E8E8E;
    border: 2px solid #8E8E8E;
    font-size: 20px;
    width: 50%;
    height: 30px;
    padding: 5px;
}
button{
    color: #8E8E8E;
    border: 2px solid #8E8E8E;
    font-size: 20px;
}
button:hover{
    box-shadow: 2px 2px 2px 0px #8E8E8E;
    transform: translate(-2%, -2%);
}
button:active{
    color:#000000;
    background-color: #f7f7f7;
    transform:none;
    box-shadow: none;
    border: #f7f7f7;
}
td{
    padding:0.5rem;
}
table {
    border-collapse: collapse;
  }
tr{
    border-bottom: 2px solid #8E8E8E;
}
